.title_carousel {
  margin-top: 79px;
  margin-left: 55px;
  margin-right: 155px;
  // flex-grow: 1;
  width: 30%;
  h1 {
    width: 418px;
    font-weight: 900;
    font-size: 68px;
    line-height: 93px;
    /* or 137% */
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 25px;
  }
}
